.completed {
  opacity: 0.6;
  text-decoration: line-through;
}

.task-completed {
  text-decoration: line-through;
  opacity: 0.6;
}

.task-description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 90%;
}